typing-extensions~=3.7

loguru~=0.4.1
click~=7.0
dataclass-csv~=1.1

tensorboard==2.4
torch~=1.7
torchvision~=0.8
opencv-python~=4.2.0
pygame~=1.9
pillow~=8.1

numpy~=1.19
git+https://github.com/numpy/numpy-stubs.git@c49d2d6875971a669a166ea93ef998911af283a1#egg=numpy-stubs
networkx~=2.5
