# tensorflow-gpu==1.15.2
tensorboardX

# Currently this installs with CUDA 10.2 support.
torch~=1.5.1

torchvision~=0.6.1
pid_controller~=0.2.0

scipy~=1.4
scikit-image~=0.15
numpy~=1.19
pandas~=0.23
pillow~=7.1
# matplotlib
opencv-python~=4.2.0
# imgaug==0.4.0
# pyyaml
# dlib

# lmdb==0.98
# tqdm==4.45.0
loguru~=0.4.1
click~=7.0
